.footer{
  background-color: #2c2b2b;
  padding: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.info_footer{
  display: flex;
  justify-content: center;
}
a{
  font-size: 30px;
  color: aquamarine;
  display: inline-block;
  margin: 10px;
}
.info-footer .fas{
  display: inline-block;
  color: #BF0F12;
}
